h1 {
    font-size: 3rem;
    margin: 0;
    padding-bottom: 20px;
}

#motivation {
    color: white;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    line-height: 2.5;
}

h2 {
    text-decoration: underline;
}